@import "bootstrap/bootstrap";
@import "fonts";
@import "intl-telf-input.scss";

// Colors

$blue74: rgb(20,42,74);
$aqua: rgb(89,145,251);
$yellow: rgb(243,243,62);
$black: rgb(35,38,38);
$dark: rgb(0,0,0);
$gray: rgb(87,87,87);
$lgtgray: rgb(244,246,249);
$red:rgb(237, 26, 26);
$white : rgb(255,255,255);

// Screen Resolutions
$break-large : 1200px;
$break-sm-max: 680px;
$break-medium: 768px;
$break-large-min: 1300px;
$break-small: 375px;

// Background color opacity
$rgba-lgtgray: rgba(244,246,249,0.5);

// Background images

$bgmain: '/img/bgmain.png';
$bgmeto: '/img/bgmeto.png';

html, body {
  height: 100%;
}

.itsystems-content {
  flex: 1 0 auto;
}

.itsystems-footer {
  flex-shrink: none;
}

/* HEADER */

.itsystems-header{
    background-image: url($bgmain);
    background-size: 100% 100%;
    @media screen and (max-width: $break-small) {
        background-size: cover;
    }
    background-repeat: no-repeat;
}

.head-start-logo{
    height: auto;
    width: 75%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.head-start-menu{
    color: $white;
    font-family: 'Open Sans Semibold';
}
.hmb{
    img{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    }
}
.head-start-item{
    cursor: pointer;
    padding: 20px;
    text-align: center;
    border: 1px solid $white;
    p{
        margin-bottom: 0px;
    }
}

.head-end-img{
    width: 80%;
    @media screen and (max-width: $break-small) {
        width: 60%;
    }
    margin-left: auto;
    margin-right: auto;
    p{
        text-align: center;
        background-color: $blue74;
        color: $yellow;
        font-family: 'Open Sans Regular';
        font-size: 18px;
        width: 70%;
        margin: auto auto 0px;
    }
}
.itsystems-div-form{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.after-post{
    background-color: $rgba-lgtgray;
    font-family: 'Open Sans Semibold';
    color: $black;
    padding: 20px;
}

.response{
    background-color: $rgba-lgtgray;
    font-family: 'Open Sans Semibold';
    color: $white;
}

.itsystems-form{
    input{
        border-radius: 0px;
        font-size: 14px;
    }
    label{
        font-size: 14px;
    }
}

.button-head{
    margin-top: 15px;
    .btn-enviar{
        background-color: $black;
        color: $white;
        outline: none;
        border: none;
        border-radius: 0px;
    }
}

.head-end-title{
    h1{
        font-family: 'Gothan';
        font-weight: bold;
        color: $white;
        text-shadow: 3px 4px 3px rgba(0,0,0,0.39);
    }
}

/*CURSOS*/
.itsystems-cursos{
    background-color: $lgtgray;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.curso-title{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.curso-desc{
    min-height: 210px;
    padding-right: 25px;
    padding-left: 25px;
    font-family: 'Open Sans Semibold';
    p{
        font-size: 14px;
        span{
            font-size: 14px;
            color: $aqua;
            font-weight: 600;
        }
    }
}

.curso-foot{
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans Semibold';
    .ver{
        cursor: pointer;
        background-color: $black;
        width: 35%;
        @media screen and (max-width: $break-small) {
            width: 50%;
        }
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        padding: 10px;
        span{
            color: $white;
        }
    }
}

.bg-curso{
    background-color: $white;
    .curso-col1{
        border: $aqua solid 2px;
    }
    .curso-col2{
        border: $aqua solid 2px;
        border-left: none;
        @media screen and (max-width: $break-small) {
            border: $aqua solid 2px;
        }
    }
    .curso-col3{
        border: $aqua solid 2px;
        border-top: none;
        @media screen and (max-width: $break-small) {
            border: $aqua solid 2px;
        }
    }
    .curso-col4{
        border: $aqua solid 2px;
        border-top: none;
        border-left: none;
        @media screen and (max-width: $break-small) {
            border: $aqua solid 2px;
        }
    }
}

/* DETALLE */

.itsystems-detalle{
    background-color: $dark;
    padding-top: 20px;
    padding-bottom: 20px;
}

.itsystems-det-start, .itsystems-det-mid{
    font-family: 'Open Sans Semibold';
    color: $white;
    text-align: center;
    h1{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.det-start-item, .det-mid-item{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.det-start-item, .det-mid-desc{
    p{
        margin-top: 16px;
    }
}
.det-end-img{
    text-align: center;
}
.itsystems-det-end{
    padding-top: 20px;
    padding-bottom: 20px;
    h2{
        font-family: 'Open Sans';
        font-weight: bold;
        text-align: center;
        color: $aqua;
    }
}

.itsystems-meto{
    background-image: url($bgmeto);
    background-color: $dark;
    @media screen and (max-width: $break-small) {
        background-image: none;
    }
    background-repeat: no-repeat;
    background-size: 50% 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.meto-title{
    color: $aqua;
    font-family: 'Open Sans';
    font-weight: bold;
}

.meto-desc{
    ul{
        padding-left: 1px;
        li{
            list-style-type: none;       
            padding-bottom: 1px;
            color: $white;
            font-size: 17px;
            font-family: 'Open Sans';
            font-weight: bold;
            
        }
        li:before{
            content: '\25CF';
            font-size: 25px;
            padding-right: 10px;
            color: $aqua;
        }
    }
}

.itsystems-pago{
    padding-top: 30px;
    padding-bottom: 30px;
    h2{
        color: $aqua;
        font-family: 'Open Sans Semibold';
    }
}

.pago-item-img{
    text-align: center;

    border-right: $aqua 5px solid;
    @media screen and (max-width: $break-small) {
        border-right: none;
    }
}

.pago-item-desc{
    color: $aqua;
    font-family: 'Open Sans Regular';
    font-size: 17px;
    p{
        font-weight: 600;
    }

    ul{
        padding-left: 1px;
        li{
            list-style-type: none;       
            padding-bottom: 1px;            
            
        }
        
    }
}

.itsystems-footer{
    //margin-bottom: 45px;
    .itsystems-pre-footer{
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: $blue74;
      .itsystems-footer-contacto{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 25px;
        p{
          font-size: 13px;
          color: $white;
          margin-bottom: 0px;
          font-family: 'Open Sans Regular';
      }
    }
    .itsystems-footer-logo{
      max-width: 65%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .itsystems-footer-post{
    background-color: $blue74;
    color: $white;
    font-family: 'Open Sans Regular';
  }
}

.pre-footer-img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    h4{
        color: $white;
        font-family: 'Open Sans Regular';
    }
}

.pre-footer-contacto{
    color: $white;
    font-family: 'Open Sans Regular';
    font-size: 15px;

    h2{
        margin-bottom: 0px;
    }

    ul{
        padding-left: 1px;
        li{
            list-style-type: none;       
            padding-bottom: 1px;            
        }
        li:before{
            content: '\25CF';
            font-size: 25px;
            padding-right: 10px;
            color: $aqua;
        }
    }
}

.modal-backdrop{
    background-image: url(/img/bghana.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 100% !important;

    
}

.modal.fade .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0,0)scale(.5);
    transform: translate(0,0)scale(.5);
  }
  .modal.show .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0,0)scale(1);
    transform: translate(0,0)scale(1);
  }
  
  .sap-content{
      
    h4{
        font-family: 'Open Sans Regular';
        font-weight: 600;
        color: $aqua;
    }

    p{
        color: $white;
        span{
            color: $yellow;
            font-weight: 600;
        }
    }
  }

  .modal-content  {
    /*max-height: calc(100vh - 200px);
    overflow-y: auto;*/
    border: 0px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
  }

  .bgblue{
      background-color: $aqua;
  }

  .bgblack{
    padding: 20px;
      background-color: $dark;
      border: $aqua solid 2px;
  }

.outbounds{
    position: relative;
    bottom: 100px;
    h1{
        text-align: center;
        font-family: 'Open Sans';
        font-weight: bold;
        color: $white;
    }
}

.underline{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: $white;
}

.iti__flag {background-image: url("/img/icons/flags.png");}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("/img/icons/flags@2x.png");}
}

.iti{
  width: 100%;
}

.error{
    color: $red;
    font-family: 'Open Sans Regular';
    font-size: 13px;
}

.telf-error2{
    .iti__selected-dial-code, .iti__arrow{
        color: $gray !important;
    }
}